<html>
  
  <head>
    <title>Express</title>

  </head>
  <body>
    <% if(userData.length!=0){ %> <% if(userData.usertype == "club") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        club name: <%=userData.club_name %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
      <li>
        country: <%=userData.country %>
      </li>
      <li>
        wage budget: <%=userData.wage_budget %>
      </li>
    </ul>
    <% } else if(userData.usertype == "agent") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        agent name: <%=userData.agent_name %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
    </ul>
    <a href="http://localhost:4000/account/<%=userData.user_id%>/add_footballer"><button>Add Footballer</button></a>
    <% } else if(userData.usertype == "scout_agency") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        agency name: <%=userData.agency_name %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
      <li>
        price per scout: <%=userData.price_per_scout %>
      </li>
    </ul>
    <a href="http://localhost:4000/account/<%=userData.user_id%>/add_scout/"><button>Add Scout</button></a>
    <a href="http://localhost:4000/account/<%=userData.user_id%>/see_scouts/"><button>See Scouts</button></a>
    <a href="http://localhost:4000/account/<%=userData.user_id%>/see_tasks/"><button>See Tasks</button></a>
    <% } else if(userData.usertype == "scout") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        scout name: <%=userData.scout_name %>
      </li>
      <li>
        is available: <%=userData.is_available %>
      </li>
      <li>
        current task id: <%=userData.task_id %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
    </ul>
    <a href="http://localhost:4000/account/<%=userData.user_id%>/see_tasks/"><button>See Tasks</button></a>
    <a href="search footballer"><button>Search footballer</button></a>
    <% } else if(userData.usertype == "editor") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        name: <%=userData.scout_name %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
    </ul>
    <% } else if(userData.usertype == "standard") {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        user name: <%=userData.user_name %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
    </ul>
    <% } else {%>
    <ul>
      <li>
        user id: <%=userData.user_id %>
      </li>
      <li>
        email: <%=userData.email %>
      </li>
    </ul>
    <% } %> 
    <a href="http://localhost:4000/account/<%=userData.user_id %>/modify"><button>Edit Info</button></a>
    <%} else{ %>

    <p>No Data Found</p>

    <% } %>
  </body>
</html>
